body, html {
  height: 100%;
  margin-top: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  text-shadow: 2px 2px #000;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  text-shadow: 2px 2px #000;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px #000;
}

.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 16px 0;
  width: 10%;
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 1;
  display: block;
}

.submit {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 5px 31px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
}

.bg {
  /* The image used */
  background-image: url("bg2.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  z-index: 0;
}

  @media screen and (max-width: 768px) {
    .bg {
      min-height: 1280px;
    }}

.bg1 {
  /* The image used */
  background-image: url("bg1.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  z-index: 0;
}

.transbox {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(89.7deg, rgba(0, 0, 0, 1) -10.7%, rgba(53, 92, 125, 1) 88.8%);
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #000;
  position: relative;
  overflow: hidden;
}

.transbox1 {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #000;
  position: relative;
  overflow: hidden;
}



.licon {
  margin: 0 auto 20px;
  display: block;
  width: 50%;
  height: auto;
}

.licon1 {
  margin: 0 auto;
  display: block;
  width: 50%;
  height: auto;
}

a:hover {
  text-decoration: none;
}

li a {
  display: block;
  color: #ccc;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #42FF7A;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  text-decoration: none;
  color: white;
}

@media (min-width: 992px){
.container {
    max-width: 100%;
}}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: static;
  }
}

@media screen and (max-width: 768px) {
  .licon {
    width: 10%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .sidenav li a {
    text-align: center;
    float: none;
  }
}


.box1 {
  color: #fff;
  /* background-color: #000; */
  /* opacity: 0.7; */
  text-align: center;
  padding: 0 16px 0;
  position: absolute;
  top: 65%;
  left: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.toolbox {
  color: #fff;
  background-color: #000;
  /* opacity: 0.7; */
  text-align: center;
  padding: 0 16px 0;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.toolbox1 {
  color: #fff;
  background-color: #000;
  /* opacity: 0.7; */
  text-align: center;
  padding: 0 16px 0;
  position: absolute;
  top: 45%;
  left: 52%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#height, #weight {
  width: 12.8rem;
}

#result {
  font-size: 1.5rem;
  color: #54FF84;
}

.brandtitle {
  color: #54FF84;
}

.tooltitle {
  /* font-size: 2.5rem; */
  margin: 2rem auto 1.5rem;
}



@media screen and (max-width: 768px) {
  .box1 {
    text-align: center;
    padding: 0 16px 0;
    position:absolute;
    display:block;
    margin-top: 16rem;
    /* top: 15%; */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}

@media screen and (max-width: 576px) {
  .box1 {
    margin-top: 30rem;

  }
}

@media screen and (max-width: 768px) {
  .toolbox {
    width:80%;
    text-align: center;
    padding: 0 16px 0;
    position: absolute;
    margin-top: 16rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}


@media screen and (max-width: 768px) {
  .toolbox1 {
    width: 80%;
    text-align: center;
    padding: 0 16px 0;
    position: absolute;
    margin-top: 18rem;
    /* top: 73%; */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}

.box2 {
  color: #fff;
  /* background-color: #000; */
  /* height: 8rem;
  width:16rem; */
  margin-top: 5.1rem;
  opacity: 0.7;
  text-align: center;
}

/* @media screen and (max-width: 768px) {
  .box2 {
    text-align: center;
    padding: 0 16px 0;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
} */

.card {
  width: 20%;
  margin: 0 auto;
  height: auto;
}

.card-title {
  color: #000;
  padding: 0;
}

/* .card:hover {
  background-color:#42FF7A;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
} */
@media screen and (max-width: 768px) {
  .card {
    position: static;
    width: 50%;
    height: auto;
  }
}

.about {
  width: 50%;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  /* opacity: 0.7; */
  text-align: center;
  padding: 0 16px 0;
  position: absolute;
  top: 55%;
  left: 58%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

@media screen and (max-width: 768px) {
  .about {
    width:90%;
    text-align: center;
    padding: 0 16px 0;
    position: absolute;
    margin-top: 20rem;
    /* top: 83%; */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}

.aboutbody {
  margin-top: 1rem;
  line-height: 2.5;
  text-align: left;
}

.tab {
  text-indent: 40px;
}

.bmrform {
  text-align: left;
}

#bmrResult {
  color: #54FF84;
}

.btn-x {
  background-color: #54FF84;
}

.btn-x:hover {
  background-color: #ccc;
}
